{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<form action="" method="POST">
    <h1>Welcome</h1>
    <h2>Register</h2>
    {{ form.hidden_tag() }}

    {{ form.username }}
    {% for error in form.username.errors %}
        {{ error }}
    {% endfor %}
    {{ form.password1() }}
    {% for error in form.password1.errors %}
        {{ error }}
    {% endfor %}
    {{ form.password2() }}
    {% for error in form.password2.errors %}
        {{ error }}
    {% endfor %}
    {{ form.submit() }}
    <p>
        Already Have an Account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>
</form>



{% endblock %}